<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Email</title>
</head>

<body>

  <!--Copia desde aquí-->
  <table style="box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; border-radius: 4px 3px 6px / 2px 4px; max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">
    <tr>
      <td style="background-color: #ecf0f1">
        <div style="color: #34495e; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
          <h2 style="color: #e67e22; margin: 0 0 7px">Hola {{name}}!</h2>
          <div style="margin:2px">
            <p style="margin: 2px; font-size: 20px">
              Confirma tu dirección de correo electrónico para empezar a usar nuestra plataforma.</p>
            <p style="margin: 2px; font-size: 20px;font-style:oblique">
              Una vez que hayas confirmado que {{email}} es tuyo, podrás habilitar todas las funciones que tenemos para tí.
            </p>
              <a href="{{url}}"
              style="text-decoration: none;
                text-align:center;
                padding: 10px;
                font-weight: 600;
                font-size: 20px;
                color: #ffffff;
                background-color: #1883ba;
                border-radius: 6px;
                display:block;
                width:70%;
                margin-left: auto;
                margin-right: auto;" >Confirmar correo electrónico </a>
            <p style="margin: 2px; font-size: 20px">
              Sin nada más que agregar, te deseamos un buen día.
            </p>
            <p style="margin: 2px; font-size: 20px">
              ATTE: Equipo
            </p>
          </div>
          <p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">Diego-AC 2020</p>
        </div>
      </td>
    </tr>
  </table>
  <!--hasta aquí-->

</body>

</html>
